.Mention-container,
.Mention-backdrop,
.Mention-textarea {
  width: 100%;
  height: 100%;
  min-height: 60px;

  color: inherit;
}

.Mention-highlights,
.Mention-textarea,
.Mention-proxy {
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;
}

.Mention-container {
  position: relative;

  display: block;

  border: solid 1px #ccc;

  -webkit-text-size-adjust: none;
}

.Mention-backdrop {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  overflow: auto;

  pointer-events: none;

  border: none;
  background-color: transparent;
}

.Mention-highlights {
  white-space: pre-wrap;
  word-wrap: break-word;

  color: transparent;
}

.Mention-proxy {
  z-index: -1;

  box-sizing: border-box;

  white-space: pre-wrap;
  word-wrap: break-word;

  color: transparent;
  border: none;
  background: transparent;
}

.Mention-textarea {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  display: block;
  overflow: auto;

  box-sizing: border-box;
  margin: 0;

  resize: none;

  border: none;
  border-radius: 0;
  background-color: transparent;
}

.Mention-mark {
  color: transparent;
  background-color: #b1d5e5;
}

.Mention-reference {
  position: absolute;
  z-index: -1;

  width: 0;
  height: 0;
}

.Mention-suggestions {
  position: absolute;
  z-index: 3;

  visibility: hidden;

  width: 200px;

  transition: opacity 0.4s, visibility 0.4s;
  transition-timing-function: ease;

  opacity: 0;
  border: solid 1px #ccc;
  background-color: #fff;
}

.Mention-suggestions--block {
  visibility: visible;

  opacity: 1;
}

.Mention-suggestions[x-placement='bottom-start'] {
  margin-top: 15px;
}

.Mention-suggestions > ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.Mention-suggestions > ul > li > a {
  display: block;

  padding: 10px 10px 10px 10px;

  text-decoration: none;

  color: inherit;
  border-bottom: solid 1px #ccc;

  font-size: 0.9em;
}

.Mention-suggestions > ul > li:last-child > a {
  border-bottom: none;
}

.Mention-suggestions > ul > li > a.active {
  background-color: #ccc;
}
